.name{
    color: aqua;
    padding-right: 200px;
    font-size: large;
}
nav{
    display: flex;
    background-color: rgb(222, 238, 232);
    padding: 30px;
}
.NavBar a{
    padding-right: 80px;
}
.img{
    padding: 20px;
   
}
footer{
    background-color: navy;
    color: white;
    font-family: cursive;
    padding: 20px;
    text-align: center;
    
}
.main div{
    display: grid;
    grid-template-columns:auto auto auto auto auto auto auto auto ;
    grid-gap: 10px;
    
}