.name{
    color: aqua;
    padding-right: 200px;
    font-size: large;
}
nav{
    display: flex;
    background-color: rgb(222, 238, 232);
    padding: 30px;
}
.NavBar a{
    padding-right: 80px;
}
main{
    background-color:cyan;
    padding: 30px;
    font-family: cursive;
}
ul li{
list-style: none;
display: inline;
padding-left: 60;
}

    
